

.initial-name {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
  display:flex;
  align-items: center;
  justify-content: center;

}

.initial-name h1 {
  font-size: 5rem;

}

.show-client-data {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(204, 204, 204, 0.5);
  padding: 10px;
  border-radius: 10px;
}